@model Discussion.Core.Pagination.Paged<ReplyProfileViewModel>
@using Discussion.Web.Services.UserManagement.Avatar
@inject IAvatarUrlService AvatarUrlService
@using Discussion.Core.Models

@{
    ViewData["Title"] = "我的话题";
    var prevDisabled = Model.Paging.HasPreviousPage ? "" : "disabled";
    var nextDisabled = Model.Paging.HasNextPage ? "" : "disabled";
}

<div class="row">

    <div class="row">
        <div class="panel no-padding panel-topic-replies col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="panel-heading">
                共有 @Model.Paging.ItemCount 条回复
            </div>
            <div class="panel-body">
                @foreach (var reply in Model.Items)
                {
                    <div class="reply-item">
                        <dl class="reply-author">
                            <dd>
                                <img src="@AvatarUrlService.GetAvatarUrl(reply.CreatedByUser)" class="avatar"/>
                                @if (reply.CreatedByUser is WeChatAccount)
                                {
                                    <a title="从微信对话导入的用户" class="imported-from-wechat-mark"></a>
                                }
                            </dd>
                            <dd class="username">@reply.CreatedByUser.DisplayName</dd>
                        </dl>
                        <div class="reply-content">
                            <div class="reply-content-body">@Html.RenderMarkdown(reply.ReplyContent, maxHeadingLevel: 3)</div>
                            <div class="reply-content-related">
                                <span class="replied-at">回复于 @reply.ReplyCreateTime</span>
                            </div>
                            <a class="topic-title" href="@Url.Action("Index", "Topic", new {id = reply.TopicId})" title="跳转至原文">
                                原文地址
                            </a>
                            <form asp-action="Delete" asp-controller="Reply" method="post" asp-route-topicId="@reply.TopicId" asp-route-replyId="@reply.ReplyId" style="display: inline-block">
                                <button type="submit">删除</button>
                            </form>
                            <a class="topic-title" href="@Url.Action("Update", "Reply", new {id = @reply.ReplyId})" title="更新回复">
                                更新
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="panel-footer">
        @if (Model.Items.Length > 0)
        {
            <a href="@Url.Action("List", "Topic", new {page = Model.Paging.CurrentPage - 1})"
               class="btn btn-default @prevDisabled">
                &lt; 前一页
            </a>

            <a href="@Url.Action("List", "Topic", new {page = Model.Paging.CurrentPage + 1})"
               class="btn btn-default @nextDisabled">
                后一页 &gt;
            </a>
        }
    </div>
</div>